.page {
	background-color: rgba(0,0,0,0.9);
	height: calc(100vh - 55px);
}

html {
	height: 100%;
	width:100%;
	scrollbar-width: thin;
	scrollbar-color: #0F0 #222;
} 

body {
	padding-top: 55px;
}

canvas {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
}

.toggleButton {
  background: transparent;
  border: none;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.4);
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.top-align {
	display: flex;
	align-items: top;
}

.rounded-img {
	border-radius: 50%;
}

.center {
	margin: 0 auto;
}

.language-list {
	min-width: auto;
	padding: 10px;
}

.language-list-img {
	margin-right: 10px;
}

.language-list-link {
    color: #AAA;
    text-decoration: none;
}

#formation h2 {
	font-size: 3em;
	color: #EEE
}

#formation h3 {
	font-size: 1.6em;
	color: #EEE
}

#formation p {
	font-size: 1em;
	font-weight: bold;
	color: #111;
}

#formation>div {
}

#formation>div>div {
	background-color: #2fb028;
	width: 80%;
	border-radius: 0px 30px 30px 0px;
	padding: 10px;
	margin-top: 10px;
}

@media (max-width: 980px) {
	.page {
		min-height: calc(100vh - 55px);
		height: 100%;
	}
}

#q {
	width: 100%;
}